{% for main_dir, dir_files in files %}
    <h2 class="pull-left">{{ main_dir|capitalize }}</h2>
    <button type="button" class="btn btn-primary run-group" data-group="{{ main_dir }}">Run Group</button>
    <table class="files table table-condensed">
        <thead>
        <tr>
            <th>File</th>
            <th>Errors</th>
            <th>Warnings</th>
            <th>Execute</th>
            <th>Output</th>
        </tr>
        </thead>
        {% for folder_dir, folder_files in dir_files %}
            <tr class="active">
                <td><strong><i>{{ folder_dir }}</i></strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for path, file in folder_files %}
                <tr id="{{ file.hash }}">
                    <td>{{ file.path }}</td>
                    <td class="errors"></td>
                    <td class="warnings"></td>
                    <td><button type="button" class="btn btn-xs btn-primary run" data-file="{{ path }}">Run</button></td>
                    <td><button type="button" class="btn btn-xs btn-primary view-output" disabled>View</button></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endfor %}