{% extends "base.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                {% if instance %}
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#code" role="tab" data-toggle="tab">Code</a></li>
                        <li><a href="#tests" role="tab" data-toggle="tab">Tests</a></li>
                        <li><a href="#config" role="tab" data-toggle="tab">Config</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="code">
                            {% include 'files.twig' with {'files': files.code} %}
                        </div>
                        <div class="tab-pane" id="tests">
                            {% include 'files.twig' with {'files': files.tests} %}
                        </div>
                        <div class="tab-pane" id="config">
                            {% include 'files.twig' with {'files': files.config} %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="output-modal" tabindex="-1" role="dialog" aria-labelledby="Output" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}