{% block body %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PreCommit Runner</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <select id="instance-selector" name="instance" class="form-control">
                            {% for type, instances_by_type in instances %}
                                <option disabled>────── {{ type }} ──────── </option>
                                {% for instance_name in instances_by_type %}
                                    <option value="{{ instance_name }}" {% if instance_name == instance %}selected{% endif  %}>{{ instance_name }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" id="run-all" class="btn btn-warning" data-running="false">Run All</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}